<style>
  /* Using Handlebars template language, you can insert HTML and styling */
  .features .glyphicon {
    font-size: 32px;
  }

  .row {
    margin-bottom: 20px;
  }

  .quote {
    background-color: #444;
    color: #e1e1e1;
  }
  .quote blockquote {
    border: none;
    margin: 0;
  }
  .quote footer {
    color: #c1c1c1;
  }
  section, header {
    background-color: #fff;
  }
  body {

  }
  .footer {
    padding: 20px 0;
  }


  #demo-nav {
    display: none;
  }

  .show-nav #demo-nav {
    display: block;
  }

  li {
    margin: 10px;
  }
</style>

<section>
  <div class='container'>


    <div class='row well well-lg'>
      <div class='col-md-6'>
        <h2>P2P VPS Marketplace</h2>
        <p class='lead'>
          P2P VPS is running an open Alpha test. If you'd like to join in and test the software
          by connecting your computer, <a href="/createaccount">create an account</a>.
          After that, follow the instructions for
          <a href="http://p2pvps.org/install-client/" target="_blank">installing the client</a>
        </p>
        <br>

        <a class='btn btn-lg btn-primary' href="/static/listings.html">Rent a VPS</a>
        <a class='btn btn-lg btn-default' href="/createaccount">Create an Account</a>

      </div>
      <div class='col-md-6 visible-md visible-lg'>
        <a href="http://p2pvps.org">
          <img class="img-responsive center-block" src='/static/img/P2P-Logo-2.jpg' alt='ConnextCMS' />
        </a>
        <br>
        <p>
          Rent devices in the P2P VPS store. Enter this address in your
          <a href="http://openbazaar.org" target="_blank">OpenBazaar Client</a>:<br><br>
          <center><b><a href="ob://QmNf5cCZRvbCYCdtmU5pkDxkHpNgtkgwyzpeYfAUG5yvUz/store">ob://QmNf5cCZRvbCYCdtmU5pkDxkHpNgtkgwyzpeYfAUG5yvUz/store</a></b></center>
        </p>
      </div>
    </div>

    <!--
    <div class='row text-center features'>
      <div class='col-sm-6 col-xs-6'>
        <img class="img-reponsive center-block" src="/images/logo.svg" />
        <p>ConnextCMS runs on top of <a href="http://keystonejs.com/" target="_blank">KeystoneJS</a> v0.4.0 Start out by reading the <a href="http://keystonejs.com/docs/" target="_blank">KeystoneJS documentation</a>, check out <a href="http://demo.keystonejs.com/" target="_blank">their demo</a>, the <a href="https://github.com/keystonejs/keystone" target="_blank">GitHub repository</a>, and ask for help in their <a href="https://groups.google.com/forum/#!forum/keystonejs" target="_blank">mailing list</a>.</p>
      </div>

      <div class='col-sm-6 col-xs-6'>
        <img class="img-responsive center-block" src="/images/connextcms-logo.jpg" />
        <p><a href="http://connextcms.com" target="_blank">ConnextCMS</a> communicates with KeystoneJS via REST API calls using AJAX and provides an alternative back end using the <a href="https://almsaeedstudio.com/" target="_blank">AdminLTE template</a>. This allows developers to use front end tools like Chrome Dev Tools to debug their websites in the browser.</p>
      </div>
    </div>
    -->

  </div>
</section>
